## Importing Libraries and Reading Dataset

In [177]:
import pandas as pd
import numpy as np

In [178]:
df = pd.read_excel("Dataset.xlsx")

In [179]:
df.head()

,Unnamed: 0,title,rating,date,body,details
0,0,5.0 out of 5 stars\nGood performance,5.0 out of 5 stars,Reviewed in India on 26 December 2023,\nUpgrading from iPhone 11 to 15. Good one ful...,Colour: BlueSize: 256 GB
1,1,5.0 out of 5 stars\nExcellent Product,5.0 out of 5 stars,Reviewed in India on 2 January 2024,\nThis phone is good and quite seamless for mu...,Colour: BlackSize: 256 GB
2,2,5.0 out of 5 stars\nOn Time delivery,5.0 out of 5 stars,Reviewed in India on 15 January 2024,\nGood and quality\n,Colour: BlackSize: 256 GB
3,3,4.0 out of 5 stars\niPhone 15 A solid upgrade ...,4.0 out of 5 stars,Reviewed in India on 8 January 2024,\nI am from Android(Samsung flagship phones) ...,Colour: BlackSize: 256 GB
4,4,5.0 out of 5 stars\nEnjoying iphone15,5.0 out of 5 stars,Reviewed in India on 13 December 2023,"\nMoved from android, display is impressiveCam...",Colour: BlackSize: 256 GB

## Data Cleaning

In [180]:
df = df.drop(df.columns[0], axis=1)

In [181]:
df.head()

,title,rating,date,body,details
0,5.0 out of 5 stars\nGood performance,5.0 out of 5 stars,Reviewed in India on 26 December 2023,\nUpgrading from iPhone 11 to 15. Good one ful...,Colour: BlueSize: 256 GB
1,5.0 out of 5 stars\nExcellent Product,5.0 out of 5 stars,Reviewed in India on 2 January 2024,\nThis phone is good and quite seamless for mu...,Colour: BlackSize: 256 GB
2,5.0 out of 5 stars\nOn Time delivery,5.0 out of 5 stars,Reviewed in India on 15 January 2024,\nGood and quality\n,Colour: BlackSize: 256 GB
3,4.0 out of 5 stars\niPhone 15 A solid upgrade ...,4.0 out of 5 stars,Reviewed in India on 8 January 2024,\nI am from Android(Samsung flagship phones) ...,Colour: BlackSize: 256 GB
4,5.0 out of 5 stars\nEnjoying iphone15,5.0 out of 5 stars,Reviewed in India on 13 December 2023,"\nMoved from android, display is impressiveCam...",Colour: BlackSize: 256 GB

In [182]:
df.isnull().sum()

title      0
rating     0
date       0
body       0
details    0
dtype: int64

In [183]:
df.dropna(axis=0, inplace=True)

In [184]:
# Remove newline character '\n' from each string in the 'title' column
df['title'] = df['title'].str.split('\n').str[1]
df['body'] = df['body'].str.split('\n').str[1]
df['date'] = df['date'].str.split('on ').str[1]

In [185]:

# Extract only the first number from the 'rating' column
df['rating'] = df['rating'].str.split(' ', expand=True)[0]


# Convert the 'rating' column to float
df['rating'] = df['rating'].astype(float)

# Convert the 'rating' column to integer
df['rating'] = df['rating'].astype(int)

In [186]:

df['date'] = pd.to_datetime(df['date'], format='%d %B %Y')

In [187]:
# Split the 'details' column into 'colour' and 'size' columns
df[['colour', 'size']] = df['details'].str.split('Size:', expand=True)

# Strip any leading or trailing whitespace
df['colour'] = df['colour'].str.strip()
df['size'] = df['size'].str.strip()

df.drop(columns=['details'], inplace=True)

In [188]:
df.head(10)

,title,rating,date,body,colour,size
0,Good performance,5,2023-12-26,Upgrading from iPhone 11 to 15. Good one full ...,Colour: Blue,256 GB
1,Excellent Product,5,2024-01-02,This phone is good and quite seamless for mult...,Colour: Black,256 GB
2,On Time delivery,5,2024-01-15,Good and quality,Colour: Black,256 GB
3,iPhone 15 A solid upgrade and value for money,4,2024-01-08,I am from Android(Samsung flagship phones) ba...,Colour: Black,256 GB
4,Enjoying iphone15,5,2023-12-13,"Moved from android, display is impressiveCamer...",Colour: Black,256 GB
5,Fast delivery,5,2023-11-21,Good deal,Colour: Black,256 GB
6,Bad behaviour,1,2024-01-12,I want to give 0 start but had to give one start,Colour: Blue,256 GB
7,Best IPhone,5,2023-10-29,Performance is great. Battery is too good and ...,Colour: Green,256 GB
8,Nice,4,2024-01-04,Like,Colour: Black,256 GB
9,Authentic Product,5,2023-12-31,As usual good apple product,Colour: Pink,256 GB

## Exploratory Data Analysis

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   100 non-null    object
 1   rating  100 non-null    int32
 2   date    100 non-null    datetime64[ns]
 3   body    100 non-null    object
 4   colour  100 non-null    object
 5   size    100 non-null    object
dtypes: datetime64[ns](1), int32(1), object(4)
memory usage: 4.4+ KB

In [190]:
df['rating'].value_counts()

rating
5    70
4    20
1    10
Name: count, dtype: int64